<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Class Assignment Tasker</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="/welcome.js" type="text/javascript"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
        <div class="container">
                <br /><br /><br />
        
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-1">
        
                    </div>
        
                    <div class="col-lg-8 col-md-10 col-sm-10">
                            <br/><br/>
                            <h1 class="text-center">Welcome to Class Task Keeper</h1>
                            <h4 class="text-center">Log in or Create a New Account</h4>
                            <br/>
                            <div class="row">
                                <div class="col-lg-3 col-md-2 col-sm-2 col-3"></div>
                                <div class="col-lg-6 col-md-8 col-sm-8 col-6"> <button id="login" class="btn btn-primary">Login</button>
                                    <button id="create-account" class="btn btn-primary">Create Account</button></div>
                                <div class="col-lg-3 col-md-2 col-sm-2 col-3"></div>
                            </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-1">
        
                    </div>
                </div>
        
            </div>
</body>
</html>